<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>USING PLAIN HTML IN PUG</title> -->
    <title>#{title}</title>
    style
        include ../static/style.css

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/">CONTACT US</a></li>
        </ul>
    </nav>
<div class="container"> 
    <h1>GYM MEMBERSHIP ONLY FOR 100$</h1>

    <form action="/" id="contact" method="post">
        <input type="text" name="name" id="name" placeholder="enter your name">
        <input type="text" name="age" id="age" placeholder="enter your age">
        <input type="text" name="gender" id="gender" placeholder="select your gender">
        <textarea name="address" id="address" placeholder="enter your address" cols="30" rows="3"></textarea>
        <textarea name="more" id="more" placeholder="more about you" cols="30" rows="3"></textarea>
        <button class="btn">Submit</button>
        </form>
</div>
</body>
</html>